// Tipografias //

$primary-font: "Poppins", sans-serif;
$title-font: "Merriweather", serif;
// Colores //

$gray: #ababab;
$pink: #db2a6b;
$white: #ffffff;
$black-light: #2b2d38;

// Breakpoints //
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
